.nav{
    width: 100%;
    height: 80px;
    display: flex;
}
.nav-icons ul{
    width: 900px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.nav-icons a{
    text-decoration:none;
    color: black;
    margin-top: 20px;
}
.home, .service-home{
    background-image: url(./hero-sec.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 0;
    height: 600px;
}
.about{
    width: 100%;
    padding: 0;
    height: 600px;
}
.contact{
    width: 100%;
    padding: 0;
}
.home h1, .about h1, .service-home h1, .contact h1{
    font-size: 60px;
    text-align: justify;
    width: 50%;
    padding-left: 20px;
    padding-top: 200px;
}
.home p{
    font-size: 26px;
    text-align: justify;
    width: 50%;
    padding-left: 20px;
}
.container{
    display: flex;
    padding: 20px;
}
.container h1{
    padding: 20px;
    text-shadow: 1px 2px 2px;
    padding-bottom: 0;
    font-size: 40px;
    text-align: center;
}
.container p{
    padding: 20px;
    font-size: 20px;
    padding-top: -10px;
    text-align: justify;
}
.services{
    background-color: #4cb9be;
    margin-top: 150px;
}
.services h1, .portfolio h1{
    font-size: 40px;
    padding-top: 40px;
    text-shadow: 1px 2px 2px;
    text-align: center;
}
.services p{
    font-size: 20px;
    margin-top: -20px;
    text-align: center;
}
.service-cards, .portfolio-cards{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.container-fluid, .portfolio-cards .container-fluid{
    padding: 20px;
    width: 300px;
}
.container-fluid h2{
    text-align: center;
    text-shadow: 1px 2px 2px;
    margin-bottom: 40px;
}
.container-fluid p{
    text-align: justify;
}
.container-fluid img, .portfolio-cards .container-fluid{
    width: 250px;
    margin-left: 20px;
}
.why-us{
    background-color: rgb(227, 227, 227);
    padding-bottom: 30px;
}
.why-us h1{
    text-align: center;
    font-size: 40px;
    padding-top: 40px;
    text-shadow: 1px 2px 2px;
}
.why-us p{
    text-align: center;
    font-size: 20px;
}
.contact{
    width: 100%;
    margin-bottom: 30px;
}
.contact h2{
    text-align: center;
    font-size: 40px;
    text-shadow: 1px 2px 2px;
}
.cont-fluid{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.contact label{
    font-size: 20px;
}
.contact input{
    width: 280px;
    height: 40px;
}
.contact .btn{
    background-color: #4cb9be;
    width: 80px;
    height: 40px;
    margin-left: 10px;
    cursor: pointer;
}
.footer{
    width: 100%;
    height: 80px;
    display: flex;
    background-color: #4cb9be;
}
.footer-icons ul{
    width: 900px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.footer-icons a{
    text-decoration:none;
    color: black;
    margin-top: 20px;
}
.web, .graphic, .smm, .seo{
    background-color: rgb(227, 227, 227);
}
.web img, .graphic img, .smm img, .seo img{
    margin-left: 300px;
    padding: 50px;
}

.web h2, .graphic h2, .smm h2, .seo h2{
    font-size: 30px;
    padding: 20px;
}
.web p, .graphic p, .smm p, .seo p{
    font-size: 23px;
    padding: 20px;
}